<h2>Flights</h2>


<%= form_with url:"/flights", method: :get do |form| %>
  <h3 class="form-header">Search flights</h3>

  <div class="field">
    <%= form.label :departure_airport, "Departure Airport" %>
    <%= form.collection_select :departure_airport, @departure_airports, :id, :name,
                                selected: params[:departure_airport] %>
  </div>

  <div class="field">
    <%= form.label :arrival_airport, "Arrival Airport" %>
    <%= form.collection_select :arrival_airport, @arrival_airports, :id, :name,
                               selected: params[:arrival_airport] %>
  </div>

  <div class="field">
    <%= form.label :datetime, "Date and Time" %>
    <%= form.select :datetime,
                    options_for_select(@dates, selected: params[:datetime]) %>
  </div>

  <div class="field">
    <%= form.label :num_passengers, "Number of Passengers" %>
    <%= form.select :num_passengers,
                    options_for_select(@num_passengers, selected: params[:num_passengers]) %>
  </div>
  
  <%= form.submit "Search Flight" %>

<% end %>

<% unless @flights.nil? %>
  <h3>Search results</h3>

  <% if @flights.count.zero? %>
    <p>There are no flights matching the required criteria</p>
  <% end %>

  <table>
    <thead>
    <tr>
      <th>Departure Airport</th>
      <th>Destination Airport</th>
      <th>Date and Time</th>
      <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.departure_airport.code %></td>
        <td><%= flight.arrival_airport.code %></td>
        <td><%= flight.start_datetime %></td>
        <td><%= distance_of_time_in_words(flight.duration) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

