<h2>Book Flight</h2>

<%= render partial: 'flight_information',
           locals: {flight: @flight} %>

<%= form_with model: @booking do |form|%>
  <h3>Passengers information</h3>

  <%= form.fields_for :passengers do |passenger_form| %>

    <h4>Passenger <%= passenger_form.index + 1 %></h4>
    <div class="field">
      <%= passenger_form.label :name, "Name" %>
      <%= passenger_form.text_field :name %>
    </div>
    <div class="field">
      <%= passenger_form.label :email, "Email" %>
      <%= passenger_form.email_field :email %>
    </div>
  <% end %>

  <%= form.hidden_field :flight_id, value: @flight.id %>
  <%= form.submit %>
<% end %>